{% extends "base.html" %}

{% block body %}
<div class="container">
  <p style="font-size:20px;">The developers of StudyGo are a team of Cornell M.Eng students. They are aiming to build an application that helps students find a perfect time to study by using cutting-edge technology in the field of cloud computing.
  Below is a list of developers that have made this website possible:</p>
  <div class="row">
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="http://icons.iconarchive.com/icons/icons-land/vista-people/96/Age-Child-Male-Light-icon.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Yangyi Hao</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="http://icons.iconarchive.com/icons/icons-land/vista-people/96/Age-Child-Female-Light-icon.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Xinyu Ma</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="http://icons.iconarchive.com/icons/icons-land/vista-people/96/Age-Child-Female-Light-icon.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Yiran Zheng</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <img class="card-img-top" src="http://icons.iconarchive.com/icons/icons-land/vista-people/96/Age-Child-Male-Light-icon.png" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Yuan Zhou</p>
      </div>
    </div>
  </div>

</div>


{% endblock %}
