{% extends "base.html" %}

{% block body %}
<div class="body-dash">

    <div class="col-sm-9 col-md-9">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-pencil-square-o fa"></i> Current library status
            </div>
            <div class="panel-body">
            
            <table class="table table-bordered" id="library-status">
                <tr>
                    <th>Library</th>
                    <th>Free seats</th>
                </tr>
            </table>
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3 sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-tasks fa"></i>
                Your Reservation
            </div>

            <div class="panel-body">
                {% if orders.length === 0 %}
                    You don't have any reservation!
                {% endif %}

                {% for order in orders %}
                    <span class="list-group-item">
                        {{order.date}}: {{order.course}}<br>
                    </span>
            {% endfor %}
            </div>
        </div>
    </div>

    <div class="col-sm-3 col-md-3 sidebar">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-user"></i>Friends List
            </div>

            <div class="panel-body" id="friend-list">
                {% for friend in session.user.friends %}
                    <a href="/profile?id={{friend}}" class="list-group-item" id="{{friend}}">
                        {{friend}}
                        <span style="float: right; color: {% if friend.online %}green{% else %}red{% endif %}">
                            ● {% if friend.online %}online{% else %}offline{% endif %}
                        </span>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
