{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-sm-9 col-md-9 pt-3 px-4">
            <h2>Study Space Status</h2>
            <div class="table-responsive">
                <table id="library-status" class="table table-hover">
                </table>
            </div>
            <h2></h2>
            <canvas id="libChart" width="900" height="380" >    
            </canvas>
        </main>

        <div class="col-sm-3 col-md-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-tasks fa"></i>
                    Your Reservation
                </div>

                <div class="panel-body">
                    {% if orders.length === 0 %}
                        You don't have any reservation!
                    {% endif %}

                    {% for order in orders %}
                        <span class="list-group-item">
                            {{order.date}}: {{order.course}}<br>
                        </span>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-user"></i>
                    Friends List
                </div>

                <div class="panel-body" id="friend-list">
                    {% for friend in session.user.friends %}
                        <a href="/profile?id={{friend}}" class="list-group-item" id="{{friend}}">
                        {{friend}}
                            <span style="float: right; color: {% if friend.online %}green{% else %}red{% endif %}">
                                ● {% if friend.online %}online{% else %}offline{% endif %}
                            </span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/Chart.min.js"></script>
<script>
    var takenList = [];
    var capList = [];
    var libChart = new Chart($("#libChart"), {
        type: 'bar',
        data: {
            labels: ['Olin Library', 'Gates Hall', 'Uris Hall', 'Carpenter Hall'],
            datasets: [{
                data: takenList,
                backgroundColor: '#9ec2e2',
                fill: true,
                borderColor: '#9ec2e2',
                borderWidth: 2,
                pointBackgroundColor: '#9ec2e2'
            }, {
                data: capList,
                fill: false,
                borderColor: '#d6e3ef',
                borderWidth: 1,
                pointBackgroundColor: '#d6e3ef'
            }]     
        },
        options: {
            responsive: true,
            tooltips: {
                mode: 'index',
                intersect: true
            },
            legend: {
                display: false
            }
        }
    });
</script>
{% endblock %}
