{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <main role="main" class="col-sm-9 col-md-9 pt-3 px-4">
            <h2>Study Space Status</h2>
            <div class="table-responsive">
                <table id="library-status" class="table table-hover">
                </table>
            </div>
            <h2></h2>
            <canvas id="libChart" width="900" height="380" >    
            </canvas>
        </main>

        <div class="col-sm-3 col-md-3 sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-tasks fa"></i>
                    Your Reservation
                </div>

                <div class="panel-body" id="reservation"></div>
            </div>
        </div>
    </div>
</div>
<script src="scripts/dashboard.js"></script>
<script src="scripts/moment.min.js"></script>
<script src="scripts/Chart.min.js"></script>
{% endblock %}
