{% extends "base.html" %}

{% block body %}
<div class="container">
  <p>Note: this page is for testing purpose only.</p>
  Set frequency (number of visit per second):
  <input id="freq" type="number" />
  <button id="startButton" onclick="start()">Start</button>
  <button id="stopButton" onclick="stop()">Stop</button>
  <button id="clearButton" onclick="clean()">Clear</button><br>
  CSV data for analysis:<br>
  <div style="overflow-x: scroll;">
    <code id="data">(Disabled, edit HTML to enable)</code><br>
  </div>
  Average: <code id="ave"></code><br>
  Log:<br>
  <div style="overflow-y: scroll; height:500px;">
    <span id="log">(Disabled, edit HTML to enable)</span>
  </div>
  
</div>

<script>
  let worker, freq, ave = 0.0, n = 0;

  function start() {
    clearInterval(worker);
    freq = 1000.0 / $("#freq").val();
    $("#log").append("Frequency is: " + freq + "<br>");
    worker = setInterval(postOccupy, freq);
  }

  function stop() {
    clearInterval(worker);
  }

  function clean() {
    clearInterval(worker);
    ave = 0.0;
    n = 0;
    $("#log").empty();
    $("#ave").empty();
    $("#data").empty();
  }

  function postOccupy() {
    let param = {
      tabID: getRandomTable(),
      type: getRandomType()
    };
    let start = Date.now();
    $.post("/occupy", param, function(result) {
      let end = Date.now();
      if (n % 20 == 0) $("#log").empty();
      //$("#log").append(JSON.stringify(param) + "<br>");
      //$("#data").append((end - start) + ",");
      ave = (ave * n + (end - start)) / (n + 1);
      n += 1;
      $("#ave").text(ave);
    });
  }

  function getRandomTable() {
    let list = ["CH 001", "CH 002", "CH 003", 
      "olin study room1", "olin study room2", "olin study room3",
      "olin 001", "olin 002", "olin 003",
      "G23 room1", "G23 room2", "G23 room3", "G23 room4", "G23 room5",
      "uris 01", "uris 02", "uris 03", "uris 04",
      "uris ss01", "uris ss02"];
    let random = Math.floor(Math.random() * list.length);
    return list[random];
  }

  function getRandomType() {
    let random = Math.floor(Math.random() * 2);
    if (random == 1) {
      return "o";
    } else {
      return "r";
    }
  }
</script>
{% endblock %}
