{% extends "base.html" %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-5 col-md-5">
			
		</div>
		<div class="col-sm-5 col-md-5">
			
		</div>
		<div class="col-sm-2 col-md-2">
			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 col-md-10">
			<div class="row">
				<div class="col-sm-6 col-md-6">
					<h3>Date for Reservation</h3>
				</div>
				<div class="col-sm-2 col-md-2"></div>
				<div class="col-sm-4 col-md-4">
					<div class="form-group" style="margin-top: 20px">
						<div class='input-group date'>
							<input id="datepicker" type='text' class="form-control" />
                    		<span class="input-group-addon">
                        		<span class="glyphicon glyphicon-calendar"></span>
                    		</span>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col"></th>
									<th scope="col">8am</th>
									<th scope="col">9am</th>
									<th scope="col">10am</th>
									<th scope="col">11am</th>
									<th scope="col">12pm</th>
									<th scope="col">1pm</th>
									<th scope="col">2pm</th>
									<th scope="col">3pm</th>
									<th scope="col">4pm</th>
									<th scope="col">5pm</th>
									<th scope="col">6pm</th>
									<th scope="col">7pm</th>
									<th scope="col">8pm</th>
									<th scope="col">9pm</th>
									<th scope="col">10pm</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">olinstudyroom1</th>
									<td class="rsv">
										<input type="checkbox" id="8am" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="9am" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="10am" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="11am" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="12pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="1pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="2pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="3pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="4pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="5pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="6pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="7pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="8pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="9pm" />
          								<span></span>
									</td>
									<td class="rsv">
										<input type="checkbox" id="10pm" />
          								<span></span>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2 col-md-2"></div>
	</div>
</div>

<script src="scripts/moment.min.js"></script>
<script src="scripts/pikaday.js"></script>
{% endblock %}
