{% extends "base.html" %}

{% block body %}
    {% if session.user %}
    <script>window.location = "dashboard";</script>
    {% endif %}
    <div class="container" id = "about">
        <div class="row">
            <div>
                <h1 class="text-center login-title">Create a Study Go! Account</h1>
                <div class="account-wall">
                    <img class="profile-img" src="http://icons.iconarchive.com/icons/mahm0udwally/all-flat/256/Computer-icon.png"
                        alt="">
                    <form id="signup-form" class="form-signin">

                        <input type="text" id="username" name="username" class="form-control" placeholder="NetID" required autofocus>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password must be 6-20 characters" required>
                        <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
                        <select id="major" class="form-control">
                            <option value="0" selected disabled>Please select your major</option>
                            <option value="0" disabled>=== ARTS MAJORS ===</option>
                            <option value="101">Africana Studies</option>
                            <option value="102">American Studies</option>
                            <option value="103">Anthropology</option>
                            <option value="104">Applied Economics and Management</option>
                            <option value="105">Classics</option>
                            <option value="106">Communication</option>
                            <option value="107">Development Sociology</option>
                            <option value="108">Economics</option>
                            <option value="109">Feminist</option>
                            <option value="110">Fine Arts</option>
                            <option value="111">French</option>
                            <option value="112">History</option>
                            <option value="113">Human Development</option>
                            <option value="114">Linguistics</option>
                            <option value="115">Music</option>
                            <option value="116">Philosophy</option>
                            <option value="117">Religious Studies</option>
                            <option value="118">Sociology</option>
                            <option value="119">Urban and Regional Studies</option>
                            <option value="0" disabled>=== SCIENCE MAJORS ===</option>
                            <option value="201">Animal Science</option>
                            <option value="202">Biological Sciences</option>
                            <option value="203">Environmental and Sustainability Sciences</option>
                            <option value="204">Food Science</option>
                            <option value="205">Mathematics</option>
                            <option value="206">Nutritional Sciences</option>
                            <option value="207">Statistical Science</option>
                            <option value="208">Science and Technology Studies</option>
                            <option value="0" disabled>=== BUSINESS MAJORS ===</option>
                            <option value="301">Accounting</option>
                            <option value="302">Policy Analysis and Management</option>
                            <option value="303">Hotel Administration</option>
                            <option value="0" disabled>=== ENGINEERING MAJORS ===</option>
                            <option value="401">Biological Engineering</option>
                            <option value="402">Biomedical Engineering</option>
                            <option value="403">Chemical Engineering</option>
                            <option value="404">Computer Science</option>
                            <option value="405">Environmental Engineering</option>
                            <option value="406">Independent Major—Engineering</option>
                            <option value="407">Operations Research and Engineering</option>
                            <option value="408">Mechanical Engineering</option>
                            <option value="409">Electrical and Computer Engineering</option>
                        </select>  Note: Please user your Cornell NetID for your username.
                        <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                        <p id="error-message" class="checkbox pull-left error">

                     </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/signin.js"></script>
{% endblock %}
