{% extends "base.html" %}

{% block body %}
    {% if session.user %}
    <script>window.location = "dashboard";</script>
    {% endif %}
    <div class="container" id = "about">
        <div class="row">
            <div>
                <h1 class="text-center login-title">Create a Study Go! Account</h1>
                <div class="account-wall">
                    <img class="profile-img" src="http://icons.iconarchive.com/icons/mahm0udwally/all-flat/256/Computer-icon.png"
                        alt="">
                    <form id="signup-form" class="form-signin">

                        <input type="text" id="username" name="username" class="form-control" placeholder="NetID" required autofocus>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Password must be 6-20 characters" required>
                        <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" placeholder="Confirm Password" required>
                        Note: Please only user your Cornell NetID for your username.
                        <button id="signup" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                        <p id="error-message" class="checkbox pull-left error">

                     </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="scripts/signup.js"></script>
{% endblock %}
